In [1]:
location_name = "Mount Everest"

In [5]:
location_name_full = location_name + ", Nepal" + str(10000)
print(location_name_full)

Mount Everest, Nepal10000

In [3]:
separator = "-" * 10
print(separator)

----------

In [6]:
table_name = "locations"
condition = "country = 'Nepal'"
sql_query = f"SELECT * FROM {table_name} WHERE {condition};"
print(sql_query)

SELECT * FROM locations WHERE country = 'Nepal';

In [7]:
location_name.islower()

False

In [10]:
name= ["Michel Jordan", "LeBron James", "Kobe Bryant"]

In [16]:
[a.split()[1][0] for a in name]

['J', 'J', 'B']

In [17]:
location_name= "Knoxville, Knox County, Tennessee, USA"

In [18]:
location_name.index("County")

16

In [19]:
location_name[location_name.index("County"):].strip()

'County, Tennessee, USA'

In [20]:
location_name[:location_name.index("County")].strip()

'Knoxville, Knox'